body, html, #root, .app, .container {
  width: 100%;
  height: 100%;
}
.container {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.labels {
  font-size: 18px;
}
.form-group{
  padding-top: 9px;
  padding-bottom: 12px;
}
.form-control {
  box-sizing: border-box;
  outline: none;
  border: solid 2px black;
  border-radius: 10px;
  color: #292929;
  width: 100%;
  padding: 12px ;
  font-size: 14px;
  background: rgba(255, 255, 255, 1);
}

.btn {
  text-transform: uppercase;
  outline: 0;
  min-width: 280px;
  background: #111212;
  width: 100%;
  padding: 10px 28px ;
  color: white;
  font-size: 14px;
  border: solid 2px #11151a;
  border-radius: 9px;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.4s;
  margin-bottom: 60px;
  height: 40px;
}

.btn:hover {
  background-color: white;
  color: black;
}

.alert{
  color: red;
  font-size: 13px;
  background: lavenderblush;
}

